<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
    <header class="main_header">
        <nav class="main_nav">
            <ul class="main_unorderedlist">
                <li class="main_itemlist">
                    <a class="active" href="/">Shop</a>
                </li>
                <li class="main_itemlist">
                    <a href="/admin/add-product">Add Product</a>
                </li>
                <li class="main_itemlist">
                    <a href="/admin/contact-us">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>
    

    <main>
      <section class="add-product">
        <!-- Example of product grid with static data -->
        <div class="grid">
            <!-- First Product -->
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">Interesting Book</h1>
                </header>
                <div class="card__image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBt6eQCuDMtt619S11M9igfOG36SzsR-_M7A&s" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$19.99</h2>
                    <p class="product__description">A very interesting book about so many even more interesting things!</p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>

            <!-- Second Product  -->
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">Great Book</h1>
                </header>
                <div class="card__image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1O20wCwKcjmKEnoCQQTVXKXUWSf31sFYfvQ&s" alt="Another Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$24.99</h2>
                    <p class="product__description">This book is packed with exciting stories and knowledge!</p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
        </div>
      </section>
    </main>
</body>
</html>
